<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Find Service Xela</title>
  </head>

  <body>
    <header>
      <!-- Barra de navegación responsive-->
      <div id="barra-nav" class="navbar-fixed">
        <nav>
          <div id="div_header" class="nav-wrapper container">
            <!-- Logo -->
            <a href="index.html" class="brand-logo"><img src="imagenes/l2.png" alt="Logo" class="left hide-on-med-and-down" height="75px">Find Service</a>
            <!-- Icono de menu (responsive) -->
            <a href="#" data-target="menu-movil" id="menu_res" class="sidenav-trigger light"><i class="material-icons">menu</i></a>
            <!-- Opciones de la barra de navegacion normal -->
            <ul id="menu" class="right hide-on-med-and-down">
              <li><a href="#" id="nav_btn" class="waves-effect waves-light">Servicios</a></li>
              <li><a href="#" id="nav_btn" class="waves-effect waves-light">Historial</a></li>
              <li><a href="#" id="nav_btn" class="waves-effect waves-light">Blog</a></li>
              <li><a href="login.html" id="nav_login" class="btn-large waves-effect waves-red">Inicio de Sesión</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Opciones del menu lateral (responsive) -->
      <ul class="sidenav" id="menu-movil">
        <li><br></li>
        <li class="center">
          <span id="logo_menu">
            <a href="index.html"><img src="imagenes/l4.png" alt="Logo" height="75px"></a>
          </span>
        </li>
        <li><a href="#" id="snav_btn" class="waves-effect waves-light">Servicios</a></li>
        <li><a href="#" id="snav_btn" class="waves-effect waves-light">Historial</a></li>
        <li><a href="#" id="snav_btn" class="waves-effect waves-light">Blog</a></li>
        <li><a href="login.html" id="snav_login" class="btn-large waves-effect waves-red">Inicio de Sesión</a></li>
      </ul>
    </header>

    <!-- Contenido principal de la pagina -->
    <br><br>
    <div class="container">
      <div class="row">
          <section class="col s12 center">
              <h1 class = "z-depth-5 green section white-text">SALUD</h1>
            </section>
        <section class="col s8 offset-s2 center">
          <form>
            <div class="input-field">
              <input id="search_bar" type="search" required>
              <label class="" for="search_bar"><i class="material-icons left">search</i>Busca servicios como hospitales, restaurantes, tiendas, etc...</label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </section>
      </div>
    </div>

    <!--div class="parallax-container">
      <div class="parallax">
        <img src="imagenes/Xela.jpg">
      </div>
    </div-->

    <div class="container">
      <div class="row">
          <div class="col s3">
              <div class="card">
                  <div class="card-image">
                    <img src="imagenes\pruebaServicio\logo.png">
                    <a href="Servicio.html" class="btn-floating pulse halfway-fab waves-effect waves-light green"><i class="material-icons">subdirectory_arrow_right</i></a>
                  </div>
                  <div class="card-content">
                      <strong style="font-weight: bold" class="blue-text text-darken-4">Hospital Privado Quetzaltenango S.A.<strong>
                  </div>
                </div>
          </div>
      </div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s6">
            <h5 class="white-text">Find Service</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col s4 offset-s2">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright" >
        <div class="container white-text">
          2018 Esta página está inspirada en
          <a class="white-text btn-flat" href="https://www.findoctor.com/" target="_blank">Findoctor.com ©</a>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems);
    });
    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel');
      var instances = M.Carousel.init(elems);
    });
    </script>
    <script>
      var instance = M.Carousel.init({
        fullWidth: true,
        indicators: true
      });
    </script>
  </body>
</html>
